#footer-wrap
  #footer_icon
    .icon_left
      a.icon_link(href="http://foreverblog.cn/go.html" rel="noopener external nofollow" target="_blank" title="虫洞-随机访问十年之约成员博客")
        i.fa-circle-notch.fa-fw.fa-solid
      a.icon_link(href="https://www.travellings.cn/go.html" rel="noopener external nofollow" target="_blank" title="开往-随机跳转到另一个加入开往的网页")
        i.fa-fw.fa-solid.fa-subway
      a.icon_link(data-pjax-state="" href="/link/" title="友链")
        i.fa-fw.fa-link.fa-solid
      a.icon_link(data-pjax-state="" href="/messageboard/" title="留言")
        i.fa-comment.fa-fw.fa-regular
    img.entered.footer_logo.loaded(loading="lazy" data-src="/img/avatar.avif?v=d3d8e5e465" data-ll-status="loaded" onclick="btf.scrollToDest(0,500)" src="/img/avatar.avif?v=d3d8e5e465" title="返回顶部")
    .icon_left
      a.icon_link(href="/" rel="noopener" target="_blank" title="我的主页")
        i.fa-compass.fa-fw.fa-solid
      a.icon_link(href="https://res.abeim.cn/api/qq/?qq=3227988255" rel="noopener external nofollow" target="_blank" title="联系QQ")
        i.fa-brands.fa-fw.fa-qq
      a.icon_link(href="https://github.com/661111" rel="noopener external nofollow" target="_blank" title="我的Github主页")
        i.fa-brands.fa-fw.fa-github
      a.icon_link(data-pjax-state="" href="mailto:3227988255@qq.com" rel="noopener external nofollow" title="邮件联系")
        i.fa-envelope.fa-fw.fa-solid
  if theme.footer.owner.enable
    - var now = new Date()
    - var nowYear = now.getFullYear()
    if theme.footer.owner.since && theme.footer.owner.since != nowYear
      .copyright!= `&copy;${theme.footer.owner.since} - ${nowYear} By ${config.author}`
    else
      .copyright!= `&copy;${nowYear} By ${config.author}`
  if theme.footer.copyright
    .framework-info
      span= _p('footer.framework') + ' '
      a(href='https://hexo.io')= 'Hexo'
      span.footer-separator |
      span= _p('footer.theme') + ' '
      a(href='https://github.com/jerryc127/hexo-theme-butterfly')= 'Butterfly'
  if theme.footer.custom_text
    .footer_custom_text!=`${theme.footer.custom_text}`
  .footer-banner-time
    span#timeDate
    span#times
    script.
      if(! (navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))){
      function createtime() {
      var now = new Date();
      var grt= new Date("03/10/2022 00:00:00");
      now.setTime(now.getTime()+1000);
      days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days);
      hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours);
      if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum);
      mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;}
      seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum);
      snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;}
      document.getElementById("timeDate").innerHTML = "自 2022-3-10 建站以来，小站已苟活 "+dnum+" 天 ";
      document.getElementById("times").innerHTML = hnum + " 时 " + mnum + " 分 ( =•ω•= )m";
      }
      createtime();
      if(typeof footer_time == "undefined"){
      var footer_time = setInterval("createtime()",1000*60);
      }else{
      clearInterval(footer_time);
      footer_time = setInterval("createtime()",1000*60);
      }
      }
  p#ghbdages
    a.github-badge(loading="lazy" href="https://hexo.io/" style="margin-inline:5px" target="_blank")
      img.entered.loaded(width="101" height="20" data-src="/img/footer_svg/hexo.svg" data-ll-status="loaded" src="/img/footer_svg/hexo.svg" alt="hexo")
    a.github-badge(loading="lazy" href="https://butterfly.js.org/" style="margin-inline:5px" target="_blank")
      img.entered.loaded(width="101" height="20" data-src="/img/footer_svg/butterfly.svg" data-ll-status="loaded" src="/img/footer_svg/butterfly.svg" alt="butterfly")
    a.github-badge(loading="lazy" href="https://github.com/" style="margin-inline:5px" target="_blank")
      img.entered.loaded(width="101" height="20" data-src="/img/footer_svg/github.svg" data-ll-status="loaded" src="/img/footer_svg/github.svg" alt="github")
    a.github-badge(loading="lazy" href="https://icp.gov.moe/?keyword=20251949" style="margin-inline:5px" target="_blank")
      img.entered.loaded(width="101" height="20" data-src="/img/footer_svg/menicp.svg" data-ll-status="loaded" src="/img/footer_svg/menicp.svg" alt="萌icp") 
    a.github-badge(loading="lazy" href="https://jsd.sxiaohe.top/" style="margin-inline:5px" target="_blank")
      img.entered.loaded(width="152" height="20" data-src="/img/footer_svg/jsd.svg" data-ll-status="loaded" src="/img/footer_svg/jsd.svg" alt="jsd镜像")
    a.github-badge(loading="lazy" href="https://www.upyun.com/?utm_source=lianmeng&amp;utm_medium=referral" style="margin-inline:5px" target="_blank")
      img.entered.loaded(width="101" height="20" data-src="/img/footer_svg/ypy.svg" data-ll-status="loaded" src="/img/footer_svg/ypy.svg" alt="又拍云")
    a.github-badge(loading="lazy" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" style="margin-inline:5px" target="_blank")
      img.entered.loaded(width="167" height="20" data-src="/img/footer_svg/cc.svg" data-ll-status="loaded" src="/img/footer_svg/cc.svg" alt="by-nc-cc")