#article-container
  include ./flink_css.pug
  style.
    div#page {
      border: none!important;
      background: none!important;
      padding: 0!important
    }
  #flink_top
    #flink-banners
      .banner-top-box
        .flink-banners-title
          .banners-title-small å‹æƒ…é“¾æŽ¥
          .banners-title-big=theme.linkPageTop ? theme.linkPageTop.title : "ä¸Žæ•°ç™¾ååšä¸»æ— é™è¿›æ­¥"
        .banner-button-group
          a.banner-button.secondary.no-text-decoration(onclick="travelling()")
            i.anzhiyufont.anzhiyu-icon-paper-plane1(style="margin-right: 8px;")
            span.banner-button-text éšæœºè®¿é—®
          a.banner-button.no-text-decoration(onclick="addFriendLinksInFooter()")
            i.anzhiyufont.anzhiyu-icon-arrow-circle-right
            span.banner-button-text ç”³è¯·å‹é“¾
      #skills-tags-group-all
        .tags-group-wrapper
          - function getAvatarWithoutExclamationMark(url) {
          -   const index = url.indexOf('!');
          -   return index !== -1 ? url.substring(0, index) : url;
          - }
          each y in [1,2]
            each i, index in site.data.link.slice(0, 15)
              - const link_list = i.link_list.slice()
              - const hundredSuffix = i.hundredSuffix ? i.hundredSuffix : ""
              - const evenNum = link_list.filter((x, index) => index % 2 === 0);
              - const oddNum = link_list.filter((x, index) => index % 2 === 1);
              each item, index2 in link_list.slice(0, Math.min(evenNum.length, oddNum.length))
                - const index = index2 * 2
                if (index <= 15 && typeof evenNum[index] !== 'undefined' && typeof oddNum[index] !== 'undefined')
                  - let oddNumAvatar = getAvatarWithoutExclamationMark(oddNum[index].avatar);
                  - let evenNumAvatar = getAvatarWithoutExclamationMark(evenNum[index].avatar);
                  .tags-group-icon-pair(style="margin-left: 1rem;")
                    a.tags-group-icon.no-text-decoration(href=url_for(evenNum[index].link), title=evenNum[index].name)
                      img.no-lightbox(title=evenNum[index].name, src=url_for(evenNumAvatar + hundredSuffix) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt=evenNum[index].name)
                    a.tags-group-icon.no-text-decoration(href=url_for(oddNum[index].link), title=oddNum[index].name)
                      img.no-lightbox(title=oddNum[index].name, src=url_for(oddNumAvatar + hundredSuffix) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt=oddNum[index].name)
    .title-h2-a
      .title-h2-a-left
        h2(style='padding-top:0;margin:.6rem 0 .6rem') ðŸŽ£ é’“é±¼
        a.random-post-start.no-text-decoration(href='javascript:fetchRandomPost();')
          i.anzhiyufont.anzhiyu-icon-arrow-rotate-right
      .title-h2-a-right
        a.random-post-all.no-text-decoration(href='/link/') å…¨éƒ¨å‹é“¾
    #random-post
    script(defer data-pjax src="/js/lib/random_post.js")
    style.
      .title-h2-a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: .5rem;
      }
      .title-h2-a-left {
          display: flex;
          align-items: center;
      }
      .title-h2-a-left h2 {
          margin-top: 0 !important;
          margin-bottom: 0 !important;
      }
      .title-h2-a a {
          margin-left: .5rem;
          color: var(--anzhiyu-fontcolor);
          font-weight: 700;
      }
      #random-post {
          min-height: 32px;
          background: var(--card-bg);
          border: var(--style-border-always);
          box-shadow: var(--anzhiyu-shadow-border);
          padding: 20px 30px;
          border-radius: 12px;
          margin-top: 8px;
      }
  .flink
    if site.data.link
      each i in site.data.link
        if i.class_name
          h2!= i.class_name
        if i.class_desc
          .flink-desc!=i.class_desc
        if i.flink_style === 'img-link'
          .volantis-flink-list
            - let randomList = i.link_list.slice()
            if i.random
              - randomList.sort(() => Math.random() - 0.5)
            each item in randomList
              a.site-card(target='_blank' rel='noopener' href=url_for(item.link) style="width: calc(100% / 5 - 16px)")
                //- .tags
                //-   each color , tags in i.link_list
                //-     - let color = color.color || ""
                //-     - let tag = tags.tag || ""
                    
                //-     .flink-list-item
                //-       if color == "vip" && tag
                //-         span.site-card-tag.vip #[=tag]
                //-           i.light
                //-       else if color == "speed" && tag
                //-         span.site-card-tag.speed #[=tag]
                //-       else if tag
                //-         span.site-card-tag(style=`background-color: ${color}`) #[=tag]
                .img
                  - var siteshot = item.siteshot ? url_for(item.siteshot) : 'https://s0.wp.com/mshots/v1/' + item.link + '?w=400&h=300'
                  img.nolazyload.no-lightbox(src=siteshot onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.post_page) + `'` alt='' )
                .info
                  img.nolazyload.no-lightbox(src=url_for(item.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt='' )
                  span.title= item.name
                  span.desc(title=item.descr)= item.descr
        else if i.flink_style === 'not-img-link'
          .site-card-group.link-no-img
            - let randomList = i.link_list.slice()
            if i.random
              - randomList.sort(() => Math.random() - 0.5)
            each item in randomList
              a.site-card(target='_blank' rel='noopener' href=url_for(item.link) stle="width: calc(100% / 5 - 16px)")
                .info
                  img.nolazyload.no-lightbox(src=url_for(item.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt='' )
                  span.title= item.name
                  span.desc(title=item.descr)= item.descr

    != page.content