//- 文件路径: themes/butterfly/layouts/wiki/wiki_item.pug
mixin layoutDiv(proj)
  article.post.md-text
    .preview
      if proj.icon
        img(src=url_for(proj.icon) alt=proj.name)
      else
        img(src=url_for(theme.config.default.project) alt="默认图标")
    
    .excerpt
      if proj.tags && proj.tags.length
        .caps
          each tag in proj.tags
            span.cap.breadcrumb(class=`${category_color(tag)}`)= tag
      
      h2.post-title= proj.title || proj.name
      
      if proj.description
        p= proj.description