extends includes/layout.pug

block content
  include ./includes/mixins/post-ui.pug
  #recent-posts.recent-posts
    script if(true){const leftArrowTip=document.querySelector(".left-arrow-tip");const rightArrowTip=document.querySelector(".right-arrow-tip");const xscroll=document.getElementById("homeTopGroup");leftArrowTip.addEventListener("click",function(){xscroll.scrollTo({left:0,behavior:"smooth"})});rightArrowTip.addEventListener("click",function(){xscroll.scrollTo({left:xscroll.scrollWidth,behavior:"smooth"})});function toggleArrowVisibility(){const scrollDiff=xscroll.scrollWidth-xscroll.scrollLeft-xscroll.clientWidth;if(xscroll.scrollLeft===0){leftArrowTip.style.opacity="0";rightArrowTip.style.opacity="1";rightArrowTip.style.zIndex="1";leftArrowTip.style.zIndex="-1"}else if(scrollDiff<=1){rightArrowTip.style.opacity="0";leftArrowTip.style.opacity="1";leftArrowTip.style.zIndex="1";rightArrowTip.style.zIndex="-1"}else{leftArrowTip.style.opacity="1";rightArrowTip.style.opacity="1";leftArrowTip.style.zIndex="1";rightArrowTip.style.zIndex="1"}}function topPostScroll(){if(document.getElementById("homeTopGroup")){xscroll.addEventListener("mousewheel",function(e){let v=-e.wheelDelta/2;xscroll.scrollLeft+=v;e.preventDefault()},false);let isScrolling=false;xscroll.addEventListener("scroll",function scrollHandler(){if(!isScrolling){isScrolling=true;setTimeout(function(){isScrolling=false;toggleArrowVisibility()},100)}})}}toggleArrowVisibility();topPostScroll()}try{document.removeEventListener('pjax:complete',catalogActive);document.addEventListener('pjax:complete',catalogActive)}catch(e){}
    include includes/categoryBar.pug
    +postUI
    include includes/pagination.pug